@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User ID : @ViewData["userID"]</p>
    <div style="text-align: center;">
        <img src="../images/445250_72459756.jpg" style="width: 50%; display: block; margin: 0 auto;">
    </div>
</div>