@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<div class="text-center">
    @* <p>User ID : @ViewData["userID"]</p>
    <div style="text-align: center;">
    </div> *@
</div>

<div class="roulette_container">
    <div class="shadow">
        <div class="stop_watch_bar"></div>
    </div>
    <div class="roulette_wheel">
        <div class="line"></div>
        <div class='selector'></div>
        <div class="wheel"></div>
    </div>
</div> 