@using Microsoft.AspNetCore.Identity
@using cazino3.Areas.Identity.Data

@inject SignInManager<cazinoUser> SignInManager
@inject UserManager<cazinoUser> UserManager

@{
    ViewData["Title"] = "Wallet";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>@ViewData["Title"]</h1>
<h1>Your balance: @UserManager.FindByNameAsync(User.Identity.Name).Result.WalletBalance</h1>

<style>

    #wallet-container {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #cash-in-container {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .token-option {
        display: inline-block;
        width: 30%; /* Adjust the width as needed */
        margin: 10px;
    }

    .token-image {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .buy-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

</style>

<h3>Buy tokens!</h3>
<div id="wallet-container">
    <div class="token-option">
        <img src="../images/token_500.png" alt="Token 500" class="token-image">
        <p>Token Value: 500</p>
        <p>Price: $5.00</p>
        <button class="buy-button" onclick="buyTokens(500)">Buy</button>
    </div>

    <div class="token-option">
        <img src="../images/token_1000.png" alt="Token 1000" class="token-image">
        <p>Token Value: 1000</p>
        <p>Price: $10.00</p>
        <button class="buy-button" onclick="buyTokens(1000)">Buy</button>
    </div>

    <div class="token-option">
        <img src="../images/token_3000.png" alt="Token 3000" class="token-image">
        <p>Token Value: 3000</p>
        <p>Price: $30.00</p>
        <button class="buy-button" onclick="buyTokens(3000)">Buy</button>
    </div>
</div>
<h3>Cash in!</h3>
<div id="cash-in-container">
    <div class="token-option">
        <input type="number" id="cash-in-input" placeholder="Enter amount">
        <button class="buy-button" onclick="cashIn()">Cash In!</button>
    </div>
</div>


<script>
    function buyTokens(tokenValue) {
        // You can implement the logic for purchasing tokens here
        alert("Tokens purchased successfully! Value: " + tokenValue);

    }
    function cashIn() {
        // You can implement the logic for cashing in here
        var cashInAmount = document.getElementById("cash-in-input").value;
        alert("Cash In successful! Amount: " + cashInAmount);
    }
</script>