@using Microsoft.AspNetCore.Identity
@using cazino3.Areas.Identity.Data

@inject SignInManager<cazinoUser> SignInManager
@inject UserManager<cazinoUser> UserManager

@{
    ViewData["Title"] = "Administration";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>@ViewData["Title"]</h1>

<h3>Manage Users</h3>
<h3>&nbsp;</h3>

<div class="d-flex">
    <!-- Set Admin Box -->
    <div id="wallet-container" class="admin-box me-3">
        <div class="admin-option">
            <label for="setAdminUsername">Set Admin:</label>
            <div class="d-flex align-items-center">
                <input type="text" id="setAdminUsername" placeholder="Enter email" class="form-control me-2">
                <button class="btn btn-primary" onclick="setAdmin()">Set Admin</button>
            </div>
        </div>
    </div>

    <!-- Ban User Box -->
    <div id="wallet-container" class="admin-box">
        <div class="admin-option">
            <label for="banUsername">Ban User:</label>
            <div class="d-flex align-items-center">
                <input type="text" id="banUsername" placeholder="Enter email" class="form-control me-2">
                <button class="btn btn-danger" onclick="banUser()">Ban User</button>
            </div>
        </div>

        <div class="admin-option">
            <label for="banReason">Ban Reason:</label>
            <textarea id="banReason" placeholder="Enter ban reason" class="form-control"></textarea>
        </div>
    </div>
</div>


<script>
    function banUser() {
        var email = document.getElementById("banUsername").value;
        var banReason = document.getElementById("banReason").value;
        $.ajax({
            url: '/Admin/BanUser', // Make sure the URL is correct based on your routing
            type: 'POST',
            data: { email: email, banReason: banReason},
            success: function (result) {
                if (result.success) {
                    alert(result.message);
                    location.reload();

                } else {
                    alert(result.message);

                    // Handle the case where the purchase was not successful
                }
            },
            error: function () {
                alert('An error occurred while processing the request.');
                // Handle the case where an error occurred
            }
        });
    }
    function setAdmin() {
        // You can implement the logic for cashing in here
        var email = document.getElementById("setAdminUsername").value;
        $.ajax({
            url: '/Admin/SetAdmin', // Make sure the URL is correct based on your routing
            type: 'POST',
            data: { email: email },
            success: function (result) {
                if (result.success) {
                    alert(result.message);
                    location.reload();
                    // You can perform additional actions if the purchase is successful

                } else {
                    alert(result.message);

                    // Handle the case where the purchase was not successful
                }
            },
            error: function () {
                alert('An error occurred while processing the request.');
                // Handle the case where an error occurred
            }
        });
    }
</script>
